
body{
    color:#090a0a;
    margin:0px;
    text-align: center;
    font-family: Roboto-Slab;
    background-color: #FAFAFA;
    font-size: 16px;
    font-style: bold;

}
.top-container{
    background-color: #EAF6f6;
}


img{
    width:125px;
    height:100px;
}
h1{
    padding: 150px;
    color:#66bfbf;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 50px;
    height: 10px;
    font-family: 'Sacramento',cursive;
    font-size: 70px;

}



.top-cloud{
    padding: 40px;
    position: absolute;
    right:200px;
    width:180px;
    height:60px;
}


h2{ color:#66bfbf;
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-weight: normal;
    padding-bottom: 10px;
    font-family: Roboto-Slab;
}
h3{
    color:#11999E;
    font-family: Roboto-Slab;
}

.bottom-cloud{
    position: absolute;
    left:200px;
    bottom: 300px;
    width:180px;
    height:60px;
}

.mount{
    height: 300px;
    width: 400px;
}


.pfp{
    height: 150px;
    width: 150px;
}

.py{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
}


.c{
    height: 150px;
    width: 140px;
    float: right;
    margin-left:30px ;
    
}

.cpp{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
    
}

.skill-row{
    color: rgb(41, 41, 41);
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-weight: bold;
    font-size: 15px;
}
.middle-container{
    width:100px 0;
}



hr {
  border: none;
  border-top: 10px dotted #dee6e6;
  height: 0;
  width:150px ;
  background-color: #ffffff;
  margin-top: 100px;
  margin-bottom: 100px;
} 

.profile{
    margin-top: 100px;;
}
.txt{
    font-size:40px;
    font-family: Roboto-Slab;
}

.fix{
    margin-top: 200px;
}

#myself{
    color:#090a0a;
    font-family: serif;
    line-height: 1.5;

}

.last{
    margin-bottom: 0px;
}
.btn
{margin: 30px auto;
background:    #11999e;
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 19px/1 "Open Sans", sans-serif;
text-align:    center;
text-decoration: none;}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a{
    color : #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

.me{
    margin-top: 0px;
}

.btn:hover{
    background-color: rgb(5, 134, 134);
    color:#090a0a;
    width:135px;}

a:hover{
    color: black;
}

.copyright{
    color:#ffffff;
    margin-top:20px;
    padding: 20px 0px;
}

.hello{
    margin:20px auto 20px auto ;
}

.Programmer{
    font-size: 28px;
}

.let{
    margin: 10px auto 100px auto;
}

.collab{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.name:hover{
    font-size: 71px;
    
}

.bottom-cloud:hover{
    width:185px;
    height:65px;
}

.top-cloud:hover{width:185px;
    height:65px;}

.css{ height: 150px;
    width: 150px;
    float: left;
    margin-right:30px}

.html{ height: 150px;
    width: 150px;
    float: right;
    margin-right:30px}
.js{
    height: 150px;
    width: 150px;
    float: left;
    margin-right:30px ;
    
}
